.delete_area {
  /* mypage_delete */

  position: absolute;
  width: 365px;
  height: 186px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);

  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
}
.delete_message {
  /* 枠_4b4b4b */

  position: absolute;
  width: 330px;
  height: 101px;
  left: 18px;
  top: 14px;

  background: #ffffff;
  border: 3px solid #4b4b4b;
  box-sizing: border-box;
  border-radius: 10px;
}
.delete_message_text {
  /* Are you sure you want to delete this post？ */

  position: absolute;
  width: 213px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);

  font-family: "Trebuchet MS", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: flex-end;
  text-align: center;

  color: #4b4b4b;
}
.cancel_button {
  /* 枠_4b4b4b */

  position: absolute;
  width: 158px;
  height: 50px;
  left: 18px;
  top: 125px;

  background: #ffffff;
  border: 3px solid #4b4b4b;
  box-sizing: border-box;
  border-radius: 100px;
}
.cancel_button_text {
  /* CANCEL */

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);

  font-family: "Trebuchet MS", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: flex-end;
  text-align: center;

  color: #4b4b4b;
}
.delete_button {
  /* 枠_4b4b4b */

  position: absolute;
  width: 158px;
  height: 50px;
  left: 190px;
  top: 125px;

  background: #4b4b4b;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 100px;
}
.delete_button_text {
  /* DELETE */

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);

  font-family: "Trebuchet MS", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: flex-end;
  text-align: center;

  color: #ffffff;
}
