.edit_area {
  /* mypage_edit */

  position: absolute;
  width: 365px;
  height: 314px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);

  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
}
.edit_flame {
  /* 枠_ffffff */

  position: absolute;
  width: 335px;
  height: 130px;
  left: 15px;
  top: 13px;

  background: #ffffff;
  border: 1px solid rgba(75, 75, 75, 0.3);
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
}
.editman_icon {
  /* 人物アイコン */

  position: absolute;
  width: 104px;
  height: 104px;
  left: 17px;
  top: 13px;
}
.edit_title {
  /* edit */

  position: absolute;
  width: 82px;
  height: 56px;
  left: 196px;
  top: 37px;

  font-family: "Trebuchet MS", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
  display: flex;
  align-items: flex-end;
  text-align: center;

  color: #4b4b4b;
}
.edit_form {
  /* 枠_ffffff */

  position: absolute;
  width: 335px;
  height: 66px;
  left: 15px;
  top: 164px;

  background: #ffffff;
  border: 1px solid rgba(75, 75, 75, 0.3);
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;

  /* new name */

  font-family: "Trebuchet MS", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: flex-end;
  text-align: center;
}
.OK_button {
  /* OKボタン */

  position: absolute;
  width: 158px;
  height: 50px;
  left: 104px;
  top: 251px;

  font-family: "Trebuchet MS", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  color: #ffffff;

  background: #4b4b4b;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 100px;
}
